@tailwind base;
@tailwind components;
@tailwind utilities;

.image-submit-container{
  margin-left: 37%;
  width: 30%;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}